# --- DATABASE CONFIG ---
DB_USER=saas_user
DB_PASSWORD=saas_password
DB_NAME=taskflow_db
DB_PORT=5432

# --- Redis config ---
REDIS_PORT=6379

# --- BACKEND CONFIG ---
BACKEND_PORT=5000
JWT_SECRET="your_very_secret_jwt_key_here"
JWT_EXPIRATION=10h
DATABASE_URL="postgresql://saas_user:saas_password@postgres-db:5432/taskflow_db?schema=public"

# --- FRONTEND CONFIG ---
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL="http://localhost:5000"
